
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/profile-background.png');
}
  
  .login-card {
    background-color: #ffffff89;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-logo img {
    height: 80px;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
    display: block;
  }
  
  .input-field {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px 12px;
  }
  
  .input-field input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #555555;
  }
  
  .input-field .password-toggle {
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    margin: 5px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 180px;
  }
  
  .login-button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    bottom: 20px;
  }
  
  .login-links a {
    padding: 8px;
    background-color: transparent;
    width: 50px;
    border-radius: 20px;
    border: 2px solid #000;
    color: #000000;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.5s ease;
    text-align: center;
  }
  
  .login-links a:hover {
    color: white;
    background-color: rgb(235, 179, 179);
  }
  
  .login-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }