.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/profile-background.png');
  }
  
  .signup-card {
    background-color: #ffffff89;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
    max-width: 500px; /* Set a maximum width to keep the card compact */
    max-height: 90vh; /* Ensure the card doesn't exceed the viewport height */
    overflow-y: auto; /* Enable vertical scrolling inside the card */
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .signup-logo img {
    height: 80px;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
    display: block;
  }
  
  .input-field {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px 12px;
  }
  
  .input-field input,
  .input-field select {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #555555;
  }
  
  .signup-button {
    align-self: center;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #000;
    font-size: 1rem;
    padding: .75rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .signup-button:hover {
    background-color: rgb(235, 179, 179);
    color: #fff;
  }
  
  .login-links {
    margin-top: 15px;
  }
  
  .login-links a {
    font-size: 0.9rem;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #000;
    padding: .75rem;
    transition: all 0.3s ease-in-out;
    display: inline-block; /* Ensure it looks like a button */
  }
  
  .login-links a:hover {
    background-color: rgb(235, 179, 179);
    color: #fff;
  }

  /* Custom scrollbar styles */
.signup-card::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .signup-card::-webkit-scrollbar-thumb {
    background: #c4c4c4; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded edges for the thumb */
  }
  
  .signup-card::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4; /* Darker color on hover */
  }
  
  .signup-card::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded edges for the track */
  }  