/* Footer.css */
.about-footer {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #f8dfd9;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    height: 50px; /* Ensure some height for proper centering */
}

.about-footer p {
    color: #555;
    font-size: 1rem;
    margin: 0;
}
